body {
    font-family: Inter, Arial, sans-serif;
}

.container {
    max-width: 1300px;
    padding: 0 100px;
    margin: 0 auto;
}

/*@media (max-width: 1100px) {*/
/*    .container {*/
/*        padding: 0 15px;*/
/*    }*/
/*}*/