
.hero {
  padding-top: 26px;
  overflow: hidden;
}

.hero__container {
  padding: 0 158px;
  display: flex;
  position: relative;
}

.hero__container::before {
  content: "";
  position: absolute;
  background-image: url("/public/bcg/bcg.png");
  background-size: cover;
  top: -26px;
  left: 0;
  width: 100%;
  height: 700px;
  z-index: 1;
  mix-blend-mode: color-burn;
}

.hero__wrapper {
  padding-left: 191.5px;
  height: 673px;
  width: 733.5px;
}

/*#region */

/*#region mainblock*/

.hero__logo {
  margin-bottom: 59px;
}

.hero__text-block {
  font-family: 'Merriweather';
  font-weight: 400;
  font-size: 60px;
  line-height: 110%;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.hero__text:nth-child(1) {
  max-width: 542px;
}

.hero__text:nth-child(2) {
  padding-left: 87px;
}

.hero__text:nth-child(3) {
  padding-left: 29px;
}

.hero__text-small {
  max-width: 542px;
  font-family: 'Golos Text';
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

.hero__text-small-block {
  margin-bottom: 40px;
}

.hero__text-small:nth-child(1) {
  padding-left: 51px;
}

.hero__text-small:nth-child(2) {
  padding-left: 26px;
}

.hero__link-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 263px;
  padding-right: 1px;
  gap: 12px;
  position: relative;
  z-index: 2;
}

.hero__link {

  width: 263px;
  height: 72px;

  background: #1F1F1F;
  border-radius: 66px;

  flex: none;
  order: 0;
  flex-grow: 1;

  font-family: 'Golos Text';
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
  transition: all 0.5s ease;
  text-align: center;
}

.hero__link:nth-child(1) {
  padding: 14px 56px 10px 49px;
}

.hero__link:nth-child(2) {
  padding: 13px 49px;
  color: #1F1F1F;
  background-color: transparent;
  border: 2px solid #1F1F1F;
}

.hero__link:nth-child(1):hover {
  background-color: #FBCE51;
  color: #1F1F1F;
  transition: all 0.3s ease;
}

.hero__link:nth-child(2):hover {
  background-color: #1F1F1F;
  color: #FFFFFF;
  transition: all 0.3s ease;
}

/*#endregion */

.hero__circle {
  width: 1920px;
  height: auto;
  position: absolute;
  z-index: -2;
}

.hero__circle-image {
  position: absolute;
  right: 467px;
  top: -26px;
}

.hero__words {
  width: 1920px;
  height: auto;
  position: absolute;
}

.hero__words-image {
  position: absolute;
  right: 408px;
  top: -26px;
  mix-blend-mode: overlay;
}

.hero__city {
  position: absolute;
  width: 1623.5px;
  height: 452.5px;
}

.hero__city-image {
  position: absolute;
  bottom: -222px;
  right: -4px;
}

.hero__path {
  position: absolute;
  z-index: 1;
  width: 1603.71px;
  height: 463.82px;
}

.hero__path-image {
  position: absolute;
  bottom: -210px;
  right: 0px;
}

.hero__figures-block {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
}

.hero__figure:nth-child(1) {
  right: 320px;
  bottom: 16px;
  position: absolute;
  z-index: 2;
}

.hero__figure:nth-child(2) {
  right: 611px;
  bottom: 0px;
  position: absolute;
  z-index: 2;
}

.hero__figure:nth-child(3) {
  right: 784px;
  top: 242px;
  position: absolute;
  z-index: -1;
}

.hero__figure:nth-child(4) {
  right: 433px;
  top: 138px;
  position: absolute;
  z-index: -1;
}

/*#endregion*/

@media (max-width: 1910px) {
  .hero__container {
    padding: 0 72px;
  }

  .hero__logo svg {
    width: 245.17px;
    height: 36px;
  }
}














