@font-face {
    font-family: "Inter";
    src: url("../public/font/Inter-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../public/font/Inter-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
}

.list-product__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    border-bottom: 1px solid var(--color-C6C2DE);
    margin-bottom: 20px;
    padding-bottom: 7px;
}

.list-product__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--color-6E6893);
    margin-left: 20px;
}

.list-product__sum {
    margin-right: 20px;
}

.card-sum__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--color-6E6893);
}

.card-sum__price {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: var(--color-6D5BD0);
}

.list-product__main-block {
    background: var(--color-FFFFFF);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow-x: auto;
    overflow-y: auto;
}

.nav__block {
    display: grid;
    grid-template-columns:108px 392px 1fr 182px;
    gap: 20px;

    grid-template-areas:
    "filter input . add";

    padding: 15px 20px;
    min-height: 70px;
}

.nav__filter-btn {
    min-width: 108px;
    text-align: right;
    position: relative;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-25213B);
    padding: 10px;
    background: var(--color-FFFFFF);
    border: 1px solid var(--color-C6C2DE);
    border-radius: 6px;
    grid-area: filter;
}

.nav__filter-btn:before {
    content: "";
    position: absolute;
    background-image: url("../public/img/filter.svg");
    width: 20px;
    height: 20px;
    left: 10px;
}

.nav__search {
    position: relative;
}

.nav__search:before {
    content: "";
    position: absolute;
    background-image: url("../public/img/search.svg");
    width: 20px;
    height: 20px;
    left: 13px;
    top: 20px;
}

.nav__input {
    height: 100%;
    width: 100%;
    min-width: 392px;
    background: var(--color-F4F2FF);
    border-radius: 6px;
    border: none;
    padding: 13px 40px;

    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: var(--color-6E6893);
}

.nav__input {
    grid-area: input;
}


.nav__add-btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: var(--color-FFFFFF);
    border: none;
    background: var(--color-6D5BD0);
    border-radius: 6px;
    padding: 10px 16px;
    min-width: 182px;
    grid-area: add;
}

.list-product__table {
    min-width: 1100px;
    border-collapse: collapse;
}

.list-product__table-head {
    background: var(--color-F4F2FF);
    text-align: left;

    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--color-6E6893);
    border-top: 1px solid var(--color-D9D5EC);
    border-bottom: 1px solid var(--color-D9D5EC);
}

.list-product__table-tr {
    height: 60px;
}

.list-product__table-head
tr,
.list-product__footer-block {
    height: 45px;
}

.list-product__table-td {
    padding-left: 15px;
    min-width: max-content;
}

.list-product__table-tr
.list-product__table-td:nth-child(4),
.list-product__table-tr
.list-product__table-td:nth-child(5),
.list-product__table-tr
.list-product__table-td:nth-child(8) {
    text-align: center;
    padding-right: 2px;
}

.list-product__table-tr
.list-product__table-td:nth-child(8) {
    min-width: 134px;
    display: flex;
    gap: 20px;
    align-items: center;
    height: inherit;
}

.list-product__table-td:nth-child(4) {
    min-width: 69px;
    color: var(--color-6E6893);
}

.list-product__table-btn {
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: inherit;
}

.list-product__button-img {
    background-image: url("../public/img/yes-img.svg");
}

.list-product__button-no-img {
    background-image: url("../public/img/no-img.svg");
}

.list-product__button-edit {
    background-image: url("../public/img/edit.svg");
}

.list-product__button-delete {
    background-image: url("../public/img/delete.svg");
}

.list-product__footer-block {
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
    background: var(--color-F4F2FF);
    color: var(--color-6E6893);
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.05em;
}

.list-product__select-page {
    width: 32px;
    font-weight: 600;
    background-color: inherit;
    border: none;
    outline: none;
    appearance: none;
    background-image: url("../public/img/caret.svg");
    background-position-x: right;
    background-position-y: 2px;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    cursor: pointer;
}

.list-product__pages {
    display: flex;
    gap: 5px;
}

.list-product__arrow-pages {
    width: 6px;
    height: 10px;
    border: none;
    outline: none;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: inherit;
}

.list-product__prev-page {
    background-image: url("../public/img/left.svg");
}

.list-product__next-page {
    background-image: url("../public/img/right.svg");
}

.nav__block,
.list-product__table,
.list-product__footer {
    min-width: 1100px;
    border-collapse: collapse;
}

@media (max-width: 1310px) {
    .nav__block {
        grid-template-columns:108px 1fr;
        grid-template-areas:
    "filter input"
    ". add";
    }

    .nav__add-btn {
        justify-self: end;
    }

    .list-product__main-block {
        overflow: unset;
    }

    .list-product__wrapper {
        overflow: auto;
    }

    .nav__block,
    .list-product__footer {
        min-width: unset;
    }

    .nav__search:before {
        left: 13px;
        top: 11px;
    }
}

@media (max-width: 600px) {
    .nav__block {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "search search"
        "filter add";
    }

    .nav__filter-btn {
        width: 108px;
    }

    .nav__search {
        grid-area: search;
    }

    .nav__input {
        min-width: unset;
    }

    section {
        padding: 15px 0;
    }

    .list-product__footer-block {
        justify-content: center;
        padding-right: 0;
    }

    .list-product__footer-sub-block {
        display: none;
    }

    .nav__search:before {
        left: 13px;
        top: 11px;
    }
}

@media (max-width: 455px) {
    .nav__search:before {
        left: 13px;
        top: 19px;
    }
}

@media (max-width: 385px) {
    .list-product__header {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .nav__filter-btn {
        font-size: 0;
        min-width: 40px;
        width: 40px;
    }
}