:root {
  --color-1B1A1B: #1B1A1B;
  --color-EADEED: #EADEED;
  --color-CD06FF: #CD06FF;
  --color-6C0287: #6C0287;
  --color-FFFFFF: #ffffff;
  --color-440F51: #440F51;
  --color-000000: #000000;
  --color-640AA3: #640AA3;
  --color-1C1A1A: #1C1A1A;
  --color-840AA3: #840AA3;
  --color-6D5BD0: #6D5BD0;
  --color-6E6893: #6E6893;
  --color-C6C2DE: #C6C2DE;
  --color-25213B: #25213B;
  --color-F4F2FF: #F4F2FF;
  --color-D9D5EC: #D9D5EC;
}
