
.hero {
  padding-top: 26px;
  overflow: hidden;
}

.hero__container {
  padding: 0 158px;
  display: flex;
  position: relative;
}

.hero__container::before {
  content: "";
  position: absolute;
  background-image: url("public/bcg/bcg.png");
  background-size: cover;
  top: -26px;
  left: 0;
  width: 100%;
  height: 700px;
  z-index: 1;
  mix-blend-mode: color-burn;
}

.hero__wrapper {
  padding-left: 191.5px;
  height: 673px;
  width: fit-content;
}

.hero__elements {
  position: absolute;
  width: 1920px;
  height: 700px;
}

/*#region */

/*#region mainblock*/

.hero__logo {
  margin-bottom: 59px;
}

.hero__text-block {
  font-family: 'Merriweather';
  font-weight: 400;
  font-size: 60px;
  line-height: 110%;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.hero__text:nth-child(1) {
  max-width: 542px;
}

.hero__text:nth-child(2) {
  padding-left: 87px;
}

.hero__text:nth-child(3) {
  padding-left: 29px;
}

.hero__text-small {
  max-width: 542px;
  font-family: 'Golos Text';
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

.hero__text-small-block {
  margin-bottom: 40px;
}

.hero__text-small:nth-child(1) {
  padding-left: 51px;
}

.hero__text-small:nth-child(2) {
  padding-left: 26px;
}

.hero__link-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 263px;
  padding-right: 1px;
  gap: 12px;
  position: relative;
  z-index: 2;
}

.hero__link {

  width: 263px;
  height: 72px;

  background: #1F1F1F;
  border-radius: 66px;

  flex: none;
  order: 0;
  flex-grow: 1;

  font-family: 'Golos Text';
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
  transition: all 0.5s ease;
  text-align: center;
}

.hero__link:nth-child(1) {
  padding: 14px 56px 10px 49px;
}

.hero__link:nth-child(2) {
  padding: 13px 49px;
  color: #1F1F1F;
  background-color: transparent;
  border: 2px solid #1F1F1F;
}

.hero__link:nth-child(1):hover {
  background-color: #FBCE51;
  color: #1F1F1F;
  transition: all 0.3s ease;
}

.hero__link:nth-child(2):hover {
  background-color: #1F1F1F;
  color: #FFFFFF;
  transition: all 0.3s ease;
}

/*#endregion */

.hero__circle-image {
  position: absolute;
  right: 467px;
  top: -26px;
  z-index: -3;
}

.hero__words-image {
  position: absolute;
  right: 408px;
  top: -26px;
  mix-blend-mode: overlay;
  z-index: -3;
}

.hero__city-image {
  position: absolute;
  top: 244px;
  right: 293px;
  z-index: -1;
}

.hero__path-image {
  position: absolute;
  top: 233px;
  right: 317px;
}

.hero__figure:nth-last-child(1) {
  right: 593px;
  top: 138px;
  position: absolute;
  z-index: -2;
}

.hero__figure:nth-last-child(2) {
  right: 941px;
  bottom: 190px;
  position: absolute;
  z-index: -2;
}

.hero__figure:nth-last-child(3) {
  right: 767px;
  bottom: 25px;
  position: absolute;
  z-index: 2;
}

.hero__figure:nth-last-child(4) {
  right: 478px;
  bottom: 43px;
  position: absolute;
  z-index: 2;
}

/*#endregion*/

@media (max-width: 1919px) {
  .hero__container {
    padding: 0 72px;
  }

  .hero__elements {
    position: absolute;
    max-width: 2103px;
    width: 110%;
    height: 700px;
  }

  .hero__wrapper {
    padding-left: 0px;
  }

  .hero__logo svg {
    width: 245.17px;
    height: 36px;
  }
}

@media (max-width: 1745px) {
  .hero__elements {
    max-width: 2102px;
    width: 121%;
  }
}

@media (max-width: 1425px) {
  .hero__elements {
    max-width: unset;
    width: 1729px;
  }
}













