.running-line__container {
  overflow: hidden;
}

.running-line__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 18px 12px;
  gap: 12px;
  width: 2335px;
  height: 60px;
  background-color: #F54932;
}

.running-line__conveer {
  display: inline-block;
  animation: running-line__conveer 30s linear infinite;
  width: fit-content;
  font-family: 'Merriweather';
  font-weight: 400;
  font-size: 22px;
  line-height: 110%;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF;
}

@keyframes running-line__conveer {
  0% {
    transform: translateX(86%);
  }
  100% {
    transform: translateX(-100%);
  }
}















